<div class="contan">
    <div class="shape1">

    </div>
    <div class="shape2">

    </div>
    <div class="guiter">
        <!-- <img src="../../../assets/img/guitar 1.png" alt="guiter"> -->

    </div>
    <div class="running">
        <!-- <img src="../../../assets/img/guitar 2.png" alt="running"> -->
    </div>
    <div class="navbar-content">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/img/UAE2PM-02 1.png" alt="logo">
                    </a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active" >
                            <a class="nav-link" href="#" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" > Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" >Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                      
                    </ul>
                    <hr>
                    
                    <a class="nav-link signin" href="#">Sign In</a>
            
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <a href="#">Sign Up</a>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../../../assets/img/united-kingdom 1.png" alt="english">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    <ul>
                        <li>
                            
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
      
    </div>
    <div class="container">
        <div class="disc text-center">
            <h3>UAE AFTER 2 PM</h3>
            <p>It’s when fun time starts!</p>
                <p>Join <span>UAE AFTER 2 PM</span> and explore a verity of exciting</p>
                <p>
                activities, new skill share opportunities, cool events and much more …
                Powered by</p>

        </div>
        <div class="sponser">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/img/UAE2PM-02 2.png" alt="spon1">
                </div>
                <div class="col">
                    <img src="../../../assets/img/UAE2PM-02 4.png" alt="spon2">
                    
                </div>
                <div class="col">
                    <img src="../../../assets/img/UAE2PM-02 3.png" alt="spon3">
                    
                </div>
            </div>
            <button type="submit" class="register">Pre-registration<svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.0712 5.11325C20.0709 5.11302 20.0707 5.11274 20.0704 5.11251L15.9883 1.05001C15.6824 0.745671 15.1878 0.746804 14.8834 1.05266C14.579 1.35848 14.5802 1.85313 14.886 2.15751L17.6268 4.88501H1.08154C0.650059 4.88501 0.300293 5.23477 0.300293 5.66626C0.300293 6.09774 0.650059 6.44751 1.08154 6.44751H17.6267L14.886 9.17501C14.5802 9.47938 14.579 9.97403 14.8834 10.2799C15.1878 10.5857 15.6825 10.5868 15.9883 10.2825L20.0705 6.22001C20.0707 6.21977 20.0709 6.2195 20.0712 6.21926C20.3772 5.91387 20.3762 5.41762 20.0712 5.11325Z" fill="white"/>
                </svg>
            </button>
        </div>
        <div class="map text-center">
            <div class="row">
                <div class="col">
                    <h2>02</h2>
                    <div class="cont1">
                        <h4>Pick Your<br>
                            Interests</h4>
                        <hr>
                        <p>Tell us more about you and we’ll help you choose the right skills for you.</p>
                    </div>
                    
                </div>
                <div class="col">
                    <h2>04</h2>
                    <div class="cont2">
                        <h4>Test your<br>
                            progress !</h4>
                        <hr>
                        <p><span>Challenge Accepted!</span>
                            Test your progress
                            after each
                            course and get ready to
                            compete in the
                            next level.</p>
                    </div>
                    
                </div>
            </div>
            <hr class="line1">
            <hr class="line2">
            <hr class="basic">
            <hr class="line3">
            <hr class="line4">
            <hr class="line5">
            <div class="row row-two">
                <div class="col">
                    <h2>01</h2>
                    <div class="cont3">
                        <h4>Register</h4>
                        <hr>
                        <p>Complete you
                        registration
                        and start
                        learning the
                        fun way.</p>
                    </div>
                    
                </div>
                <div class="col">
                    <h2>03</h2>
                    <div class="cont4"><h4>Start Your<br>
                        Professional<br>
                        training!</h4>
                        <hr>
                        <p><span>Hurry up!</span>
                        Start your
                        courses now
                        and increase
                        your skills in
                        no time.</p>
                    </div>
                    
                </div>
                <div class="col">
                    <h2>05</h2>
                    <div class="cont5">
                        <h4>Ready to compete</h4>
                        <hr>
                        <p><span>NOW YOU ARE READY!</span>
                            By finishing the assigned
                             courses you're now qualified
                            to compete.</p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="emirates text-center">
            <hr class="right">
            <h3>Select your Emirate</h3>
            <hr class="left">
        </div>
    </div>

</div>
