<footer>
    <div class="container">
        <div class="row">
            <div class="col-5 first">
                <div class="epi">

                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            <h3>Contact</h3>
                            <li>Khalidya Al Ahlya Tower</li>
                            <li>Block A M Floor</li>
                            <li>Abu Dhabi</li>
                            <li>www.gvc.ae</li>
                            <li>+971 00 11 22 33 44 </li>
                        </ul>

                    </div>
                    <div class="col">
                        <ul>
                            <h3>Links</h3>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Competitions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Sign in</a></li>            
                        </ul>

                    </div>

                </div>

            </div>
            <div class="col-7 second">
                <div class="row">
                    <div class="col-5">
                        <div class="collection">
                            <ul>
                                <li>Cancellation and Refund Policy</li>
                                <li>License Agreement</li>
                                <li>Terms of Use</li>
                                <li>Privacy Policy</li>
                                <li>Request Your Refund</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-7">
                        <div class="news_letter">
                            <h3>Newsletter</h3>
                            <div class="send_email">
                                <input type="email" name="email" placeholder="Email Address">
                                <button type="submit">
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.6125 0.719086C22.4302 0.536726 22.1566 0.480652 21.9174 0.576387L1.20644 8.86066C0.969471 8.95545 0.810788 9.18112 0.801679 9.43623C0.792612 9.69129 0.934924 9.92766 1.16455 10.039L9.33152 13.9999L13.2925 22.1669C13.4005 22.3897 13.6261 22.5302 13.8722 22.5302C13.8799 22.5302 13.8876 22.5301 13.8953 22.5298C14.1503 22.5207 14.376 22.362 14.4708 22.1251L22.7551 1.41423C22.8509 1.17481 22.7948 0.901402 22.6125 0.719086ZM3.03966 9.51576L19.4806 2.93945L9.68249 12.7375L3.03966 9.51576ZM13.8157 20.2918L10.594 13.6489L20.3921 3.8509L13.8157 20.2918Z" fill="#F8CD4F" fill-opacity="0.8"/>
                                        </svg> 
                                </button>
                            </div>
                           
                            <br>
                            
                            <div class="shape">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="11.8008" cy="11.5293" r="10.5" stroke="white"/>
                                    
                                    </svg>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1117_101)">
                                    <path d="M10.6543 2.00388C10.4591 1.8086 10.1425 1.8086 9.94723 2.00388L3.95692 7.99425L1.65435 5.69167C1.45909 5.4964 1.14253 5.49642 0.947236 5.69167C0.751963 5.88692 0.751963 6.20349 0.947236 6.39876L3.60337 9.05485C3.79856 9.25011 4.11536 9.24997 4.31048 9.05485L10.6543 2.71099C10.8496 2.51573 10.8496 2.19915 10.6543 2.00388Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1117_101">
                                    <rect width="10" height="10" fill="white" transform="translate(0.800781 0.529297)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                            </div>
                            <p>I agree to all your terms and policies</p>
                               
                                    
                                    
                    

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>
