.program{
    height: 500px;
    background: linear-gradient(90deg, #F83ACD -100.6%, #100023 100%);
    padding: 110px 0;
    .heading{
        h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 69px;
            text-align: justify;
            color: #FFFFFF;
        }
    }

    
}


