.gallary{
    overflow: hidden;
    margin: 0;
    padding: 0;
    .row{
      
        .col,.col-7,.col-5{
            margin: 0;
            padding: 0;
        }
        .col-7,.col-5{
            padding: 0 6px;
        }
        .dubai{
            height: 1094px;
        }
        .second{
            img{
                height: 547px;
            }
        }
        .content{
            position: relative;
            padding: 0;
            margin: 0;
            &:hover .cover{
                width: 0;
                transition: all 1s ease-in-out ;
            }
            h4{
                position: absolute;
                bottom: 147px;
                left: 58px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 107.19%;
                text-align: justify;
                color: #FFFFFF;
            }
            hr{
                position: absolute;
                bottom: 115px;
                left: 58px;
                width: 30px;
                height: 5px;
                background: #FFFFFF;
                opacity: 1;
            }
            .cover{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.8);
            }
            img{
                width: 96.3%;
                min-height: 100%;
            }
        }

    }
}