<div class="gallary">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 271.png" alt="emiraites">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 316.png" alt="emiraites">  
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 314.png" class="dubai" alt="emiraites">
                            <h4>Dubai</h4>
                            <hr>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-5 second">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 318.png" alt="emiraites">  
                        </div>
                    </div>
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 317.png" alt="emiraites">  
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 315.png" alt="emiraites">
                        </div>  
                    </div>
                    <div class="row">
                        <div class="content">
                            <div class="cover"></div>
                            <img src="../../../assets/img/Rectangle 319.png" alt="emiraites"> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
