.about{
    background: #100024;
    padding: 120px 0;
    margin-top: -2px;
    .student_portal{
        margin-bottom: 90px;
    }
    .learning{
        margin-bottom: 90px;
        ul{
            margin-left: 20px;
            h5{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 131%;
                color: #FFFFFF;
                margin-top: 50px;
                margin-left: 26px;
            }
            svg{
                margin-right: 15px;
            }
            li{
                font-family: Roboto;
                font-style: normal;
                font-size: 24px;
                line-height: 131%;
                color: #FFFFFF;
            }
        }
        
    }
    svg{
        float: left;
        margin-right: 25px;
    }
    h4{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 131%;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 131%;
        text-align: justify;
        color: #FFFFFF;
        padding: 0 100px 0 45px;
    }

} 