<div class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="student_portal">
                    <svg width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.301465 18.5298L0.300903 0.529664L18.301 18.5298L0.300903 36.5299L0.301465 18.5298Z" fill="#F83ACD"/>
                    </svg>
                    <h4>Student portal</h4>
                    <p>It prepares students to enter future tracks, including the tools of the Fourth Industrial Revolution and develop their skills in the fields of Arts and Culture. The portal also enables them to enter local and international competitions and compete in tracks that guarantee achieving the UAE centennial</p>
                </div>

                <div class="virtual">
                    <svg width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.301465 18.5298L0.300903 0.529664L18.301 18.5298L0.300903 36.5299L0.301465 18.5298Z" fill="#4E00EF"/>
                    </svg>
                    <h4>Virtual Classroom Software</h4>
                    <p>Our virtual Classroom Software is a state-of-the-art live online training classroom that has live video, crystal clear audio, multiple interactive whiteboards, markup and annotation tools, file and document sharing, screen sharing and many other collaboration tools. Teaching in AD Learning virtual classroom provides Live ultimate experience for both trainers and trainees.</p>

                </div>

            </div>
            <div class="col">
                <div class="learning">
                    <svg width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.301465 18.5298L0.300903 0.529664L18.301 18.5298L0.300903 36.5299L0.301465 18.5298Z" fill="#8563EE"/>
                    </svg>    
                    <h4>Learning Management System</h4>
                    <p>AD Learning is designed specifically to create, distribute, and manage the delivery of educational content which can host more than +10000 users, very hybrid- a cloud-based platform that is hosted by our software firm.</p>
                    <ul class="list-unstyled">
                        <h5>AD Learning contains:</h5>
                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.801047 9.02979L0.800782 0.529785L9.30078 9.02979L0.800782 17.5298L0.801047 9.02979Z" fill="#8563EE"/>
                        </svg>    
                        <li>Reports and Statistics.</li>
                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.801047 9.02979L0.800782 0.529785L9.30078 9.02979L0.800782 17.5298L0.801047 9.02979Z" fill="#8563EE"/>
                        </svg>  
                        <li>Live Sessions.</li>
                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.801047 9.02979L0.800782 0.529785L9.30078 9.02979L0.800782 17.5298L0.801047 9.02979Z" fill="#8563EE"/>
                        </svg>    
                        <li>Live Video Chats.</li>
                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.801047 9.02979L0.800782 0.529785L9.30078 9.02979L0.800782 17.5298L0.801047 9.02979Z" fill="#8563EE"/>
                        </svg>    
                        <li>Big diversity for profiling- students, instructors, visitors, partners and administrators where each category of our users can have their own profiles and are capable of monitoring their own space.
                        </li>
                    </ul>    
                </div>
                <div class="online_teaching">
                    <svg width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.301465 18.5298L0.300903 0.529664L18.301 18.5298L0.300903 36.5299L0.301465 18.5298Z" fill="#F8CD4F"/>
                    </svg>    
                    <h4>Cross-Platform Online Teaching Software</h4>
                    <p>Mobile Learning is just natural with AD Learning as we support all popular mobile devices. You can have students attending live classes and online courses using tablets and phones along with students and teachers using computers and laptops at the same time.</p>

                </div>

            </div>
        </div>
    </div>
</div>
